.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    margin: 40px 0;
    img{
        width: 50px;
        object-fit: cover;
    }

    h1{
        color: #19376D;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        margin: 0;
        font-size: 16px;
        font-weight: bold;
    }

    @media screen and (min-width: 768px){
        gap: 10px;
        flex-direction: row;
        h1{
            font-size: 23px;
        }
    
    }

    @media screen and (min-width: 1024px){
        h1{
            font-size: 25px;
        }
    }
}